  <%= form_for(user) do |f| %>
  <% if @users.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
  	<%= link_to user.email, user %><br>
    <%= f.select(:role, User.roles.map {|role| [role]}) %>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit 'Change Role' %>
  </div>
  	<td>
    <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button') unless user == current_user %>
    </td>
<% end %>
