  <%= form_for(user) do |f| %>

  <div class="field">
  	<%= link_to user.email, user %><br>
    <%= f.select(:role, User.roles.map {|role| [role]}) %>
    <%= f.text_field :user_name %>
  </div>
  <div class="actions">
    <%= f.submit 'Change Role' %>
  </div>

  	<td>
    <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button') unless user == current_user %>
    </td>
    <td>
        <%= link_to("Edit", {:action => 'edit', :id => user.id}, :class => 'action edit') %>|
    </td>
    <td>
        <%= link_to("Show", {:action => 'show', :id => user.id}, :class => 'action show') %>|
    </td>
<% end %>
