<h1 class="user_name">Edit User Details</h1>


<%= form_for @user do |f| %>

  <div class="field">
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name, autofocus: true %>
  </div>

  <% if @user.admin? %>
    <div class="field">
    <%= f.label :role %><br />
    <%= f.select(:role, User.roles.map {|role| [role]}) %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :client_income %><br />
    <%= number_field :client_income, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>


  <div class="form-buttons">
    <%= submit_tag("Update User") %>
  </div>

<% end %>

  <div class="links">
    <%= link_to 'Back', user_path(@user) %>
  </div>

  <div class="links">
    <%= link_to 'Show user', @user %>
  </div>


