<%= render 'shared/page_title', title: "Account Details" %>
<%= render 'shared/errors', obj: @user %>


<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <h3>Account Details</h3>
    <p>First Name: <%= @user.first_name if @user.first_name %></p>
    <p>Last Name: <%= @user.last_name if @user.last_name %></p>
    <p>User Name: <%= @user.user_name if @user.user_name %></p>
    <p>Email: <%= @user.email if @user.email %></p>
    <p>Count of Loans: <%= @user.loans.count if @user.loans.count %></p>
    <p>Client income per month: <%= @user.client_income if @user.client_income %></p>
      <div class="links">
        <%= link_to 'Edit Account Details', edit_user_path %>
      </div>
       <div class="links">
        <%= link_to 'Back', loans_path %>
       </div>
      <% if @current_user.admin? %>
       <div class="links">
        <%= link_to "Show All User\'s Loans", :controller => "users", :action => "current_user_loans", :id => @user %>
       </div>
      <% end %>
    </div>
</div>
