<h3>User</h3>
<p>Name: <%= @user.user_name if @user.user_name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Count of Loans: <%= @user.loans.count if @user.loans.count %></p>
<p>Client income per month: <%= @user.client_income if @user.client_income %></p>

  <div class="links">
    <%= link_to 'Edit Account Details', edit_user_path %>
  </div>

   <div class="links">
    <%= link_to 'Back', loans_path %>
   </div>

   <div class="links">
    <%= link_to "Show All User\'s Loans", :controller => "users", :action => "current_user_loans", :id => @user %>
   </div>
