  <div class="field">
    <%= link_to loan.loan_name, loan %><br>
    Loan id: <%= loan.id %><br>
    Loan status: <%= loan.status %><br>
    <div class="links">
      <%= link_to("Edit Loan", {:action => 'edit', :id => loan.id}, :class => 'action edit') %>
    </div>
    <div class="links">
      <%= link_to("Show Loan", {:action => 'show', :id => loan.id}, :class => 'action show') %>
    </div>
    ######################################################################################
  </div>
