<h1 class="loan_name">Edit Loan Details</h1>


<%= form_for @loan do |f| %>
	<table summary="Loan form fields">
		<tr>
			<th>Loan name</th>
			<td><%= f.text_field(:loan_name) %></td>
		</tr>

		<tr>
			<th>Loan amount</th>
			<td><%= f.number_field(:loan_amount) %></td>
		</tr>

		<tr>
			<th>Period</th>
			<td><%= f.number_field(:period) %></td>
		</tr>

		<tr>
			<th>Additions</th>
			<td><%= f.text_field(:description) %></td>
		</tr>
		<tr>
			<th>Loan Status :</th>
			<td><%= f.select(:status, Loan.statuses.map {|status| [status.to_s.titleize, status]}) %></td>
		</tr>		
	</table>  
	<div class="form-buttons">
      <%= submit_tag("Update Loan") %>
  	</div>

	<div class="links">
	  <%= link_to 'Back', loans_path %>
	</div>

<% end %>