<h1 class="loan_name">New Loan</h1>

<%= form_for(:loan, :url => { :action => 'create'}) do |f| %>
<th>Loan amount must be more than 100 (Ex: 101, 102, 500, 1000) </th>

	<table summary="Loan form field">

		<tr>
			<th>Loan amount</th>
			<th><%= f.number_field(:loan_amount) %></td>
		</tr>

		<tr>
			<th>Period</th>
			<th><%= f.number_field(:period) %></td>
		</tr>

		<tr>
			<th>Additions</th>
			<th><%= f.text_field(:description) %></td>
		<tr>
	</table>

	<div class="actions">
      <%= f.submit "Create new Loan" %>
  	</div>

	<div class="links">
	  <%= link_to 'Back', loans_path %>
	</div>

<% end %>
