<%= render 'shared/errors', obj: @loan %>
<%= render 'shared/page_title', title: "New Loan" %>
<div class="row">
	<div class="well col-md-8 col-md-offset-2">		
		<%= form_for(:loan, :url => { :action => 'create'}) do |f| %>
			<th>Loan amount must be more than 100 (Ex: 101, 102, 500, 1000) </th>
				<table summary="Loan form field">

					<tr>
						<th>Loan amount</th>
						<td><%= f.number_field(:loan_amount) %></td>
					</tr>

					<tr>
						<th>Period (months)</th>
						<td><%= f.number_field(:period) %></td>
					</tr>

					<tr>
						<th>Additions</th>
						<td><%= f.text_field(:description) %></td>
					<tr>
					</table>

					<div class="actions">
				      <%= f.submit "Create new Loan" %>
				  	</div>

					<div class="links">
					  <%= link_to 'Back', loans_path %>
					</div>

		<% end %>
	</div>
</div>