<p id="notice"><%= notice %></p>

<p2 class="loan_name"><%= @loan.loan_name %></p2>
<p class="loan_amount"><%= @loan.loan_amount %></p>



<div class="links">
  
  <%= link_to 'Delete', loan_path(@loan), method: :delete, data: { confirm: "Are you sure?" } %> |
  <%= link_to 'Back', loans_path %>
</div>