<%= render 'shared/errors', obj: @loan %>
<%= render 'shared/page_title', title: @loan.loan_name %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2"> 
	#################################################################################
	<p class="loan_name">Name: <%= @loan.loan_name %></p>
	<p class="loan_amount">Loan amount: <%= @loan.loan_amount %></p>
	<p class="loan_status">Your loan status is <%= @loan.status %>.</p>
	<p class="loan_percente_rate">The interest rate on your loan is <%= @loan.percente_rate%> % per annum.</p>
	<p class="loan_period">Time for which the loan is taken <%= @loan.period%> (months).</p>
	<p class="loan_description">Additional information: <%= @loan.description%>.</p>
	###################################################################################


	<div class="links">
	  <%= link_to 'Back', loans_path %>
	</div> 

	<div class="links">
	  <%= link_to "List of All Loan\'s Payments", :controller => "loans", :action => "current_loan_payments", :id => @loan %>
	</div> 

	<div class="links">
	   <%= link_to "Make New Payment", :controller => "payments", :action => "new", :id => @loan.id %>
	</div>

  </div>
</div>




