<h1 class="payment_name">New Payment</h1>


Please, select a loan for wich you want to pay.


<%= form_for(:payment, :url => { :action => 'create'}) do |f| %>


	<%= f.fields_for :loans do |f| %>
	<tr>

		<% loan_array = options_from_collection_for_select(Loan.all, :id, :loan_name) %>
		<th><%= select_tag(loan_array) %><th>

	</tr>
	<% end %>


	<table summary="Payment form field">

		<tr>
			<th>Payment amount (must be grater than 10)</th>
			<th><%= f.number_field(:payment_amount) %></th>
		</tr>
		<tr>
			<th>Additions</th>
			<th><%= f.text_field(:description) %></th>
		<tr>
	</table>

	<div class="actions">
      <%= f.submit "Accept" %>
  	</div>

	<div class="links">
	  <%= link_to 'Back', payments_path %>
	</div>

<% end %>

