<header class="navigation" role="banner">

        <% if user_signed_in? %>

          <% if current_user.admin? %>
            <li class="nav-link"><%= link_to "Log out", destroy_user_session_path, method: "delete" %></li>
            <li class="nav-link"><%= link_to "My Account(Admin)", user_path(@user) %></li>
            <li class="nav-link"><%= link_to "List of All Users", users_path %></li>
            <li class="nav-link"><%= link_to "List of All Users' Payments", :controller => "payments", :action => "index", :id => @payments %></li>
            <li class="nav-link"><%= link_to "List of All Users' Loans", :controller => "loans", :action => "index", :id => @loans %></li>

          <% else %>
            <li class="nav-link"><%= link_to "Log out", destroy_user_session_path, method: "delete" %></li>
            <li class="nav-link"><%= link_to "List of My Loans", loans_path %></li>
            <li class="nav-link"><%= link_to "List of My Payments", payments_path %></li>
            <li class="nav-link"><%= link_to "Get a new loan", :controller => "loans", :action => "new", :id => @loans %></li>
            <li class="nav-link"><%= link_to "My Account", user_path(@user) %></li>
          <% end %>

        <% else %>
          <li class="nav-link"><%= link_to "Sign In", new_user_session_path %></li>
          <li class="nav-link"><%= link_to "Register", new_user_registration_path %></li>

        <% end %>

</header>
